[Unit]
Description=Linux Status Monitor

[Service]
ExecStart=python /root/linux-status-monitor-usb/main.py /dev/ttyACM0
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
